.square1 {
	background-color: red;
	height: 256px;
	width: 256px;
	opacity: 0.5;
}
.square1:hover {
	background-color: rgb(255, 140, 0);
}
.square2:hover {
	background-color: purple;
}
.square3:hover {
	background-color: green;
}
.square2 {
	background-color: blue;
	height: 256px;
	width: 256px;
	opacity: 0.5;
	position: relative;
	right: -192px;
	top: -64px;
}
.square3 {
	background-color: yellow;
	height: 256px;
	width: 256px;
	opacity: 0.5;
	position: relative;
	right: -384px;
	top: -128px;
}









body {
	font-family: georgia;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(0,0,0);}
h1 {
	color: rgb(0,0,0);
	border-style: solid;
	border-width: 5px;
	border-color: rgb(0,0,0);}
img {
	border-style: solid;
	border-width: 5px;
	border-color: rgb(0,0,0);
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;}
div.About-Us {
	border-style: solid;
	border-width: 5px;
	border-color: rgb(0,0,0);
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;}
div.Menu {
	border-style: solid;
	border-width: 5px;
	border-color: rgb(0,0,0);
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;}
div.Reservations {
	border-style: solid;
	border-width: 5px;
	border-color: rgb(0,0,0);
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;}h;